# ==========================================
# ⚛️ React / Next.js (Frontend)
# ==========================================
**/node_modules/
**/.next/
**/out/
**/build/
**/dist/
**/.env*.local

# ==========================================
# 🐍 Python / Django / DRF (Backend)
# ==========================================
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/venv/
**/env/
**/.env
**/db.sqlite3
**/media/
**/staticfiles/
# ==========================================
# 🛠️ IDEs & System Files (Miscellaneous)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log