{% load jazzmin %}

{% if card %}
    {% if card_header and fieldset.name %}
    <div class="card-header">
        <h3 class="card-title">{{ fieldset.name }}</h3>
    </div>
    {% endif %}
    {% if fieldset.description %}
    <div class="card-header">
        <div class="card-title">
            {{ fieldset.description }}
        </div>
    </div>
    {% endif %}
    <div class="p-5{% if fieldset.name %} card-body{% endif %}">
{% endif %}

    {% for line in fieldset %}
    <div class="form-group{% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
        <div class="row">
            {% for field in line %}
                <label class="{% if line.fields|length != 1 and forloop.counter != 1 %}col-auto {% else %}col-sm-3 {% endif %}text-left" for="id_{{ field.field.name }}">
                    {{ field.field.label|capfirst }}
                    {% if field.field.field.required %}
                    <span class="text-red">* </span>
                    {% endif %}
                </label>
                <div class="{% if line.fields|length != 1 %} col-auto fieldBox {% else %} col-sm-7 {% endif %} {% if field.field.name %} field-{{ field.field.name }}{% endif %}">
                    {% if field.is_readonly %}
                        <div class="readonly" style="padding-top: calc(.375rem + 1px);">{{ field.contents }}</div>
                    {% else %}
                        {{ field.field }}
                    {% endif %}
                    
                    {% if field.field.help_text %}
                        <small class="form-text text-muted">{{ field.field.help_text|safe }}</small>
                    {% endif %}
                    
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

{% if card %}
    </div>
{% endif %}