/* @import url('https://fonts.googlepiss.com/css2?family=Vazirmatn:wght@100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}